---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Icon from "astro-iconify";
const currentURL = Astro.request.url;
const currentPath = new URL(currentURL).pathname;

import Translation from "../i18n/components/Translation.astro";
import { getLangFromUrl, useTranslations } from "../i18n";

// i18n
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<script data-cfasync="false" type="text/javascript">
window.onload = function () {
  let iframe = document.querySelector(".discord-widget");
  iframe.src = "https://discord.com/widget?id=1091176387357974548&theme=dark";
};
</script>

<Layout
  title="Ben's Coding: Programming is my language."
  description="Programming is my language, cmd + c and cmd + v are my lifeblood."
  image={`https://${
    import.meta.env.PUBLIC_DOMAIN
  }/d3lay-social-preview-dark.png`}
  path={currentPath}
>
  <main>
    <Icon name="bg-logo" class="background-logo" />
    <h1><span class="text-gradient">{t("home.title")}</span></h1>
    <h2>
      <Translation i18n="home.subtitle">
        Programming is my <span class="text-gradient">Language</span>
      </Translation>
    </h2>
    <p class="instructions">
      <Translation i18n="home.instructions">
        My services is under construction. <code>Stay tuned!</code><br />
        <strong>Key values:</strong> Data-driven, Efficient, Long-termism,
        Anti-shortcut and Yearning.
      </Translation>
    </p>
    <ul role="list" class="link-card-grid">
      <iframe
        loading="lazy"
        class="discord-widget"
        src=""
        width="350"
        height="500"
        allowtransparency="true"
        frameborder="0"
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
      ></iframe>
      <Card
        href="mailto:z@benwk.com"
        title={t("contact.title")}
        body={t("contact.body")}
      />
    </ul>
    <div class="content-container"></div>
    <footer>{t("copyright.body")}</footer>
  </main>
</Layout>

<style>
  main {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .content-container {
    flex: 1;
  }
  footer {
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
  }
  .background-logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translatex(-50%);
    max-width: 100%;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 0.5em;
  }
  h2 {
    text-align: center;
  }
  .discord-widget {
    width: 100%;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
